<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="header">
    <title>管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- JQuery -->
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/jquery-form.js"></script>
    <!-- my97日期控件 -->
    <script src="/My97DatePickerBeta4.8b2/My97DatePicker/WdatePicker.js"></script>
    <!-- amazeui -->
    <link rel="stylesheet" href="/css/amazeui.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/admin.css" />

    <!--[if lte IE 8 ]>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <script src="/js/amazeui.min.js"></script>
    
    <!-- layer -->
    <script src="/layer/layer.js"></script>

    <!-- zTree -->
    <link rel="stylesheet" href="/zTree/css/zTreeStyle/zTreeStyle.css" />
    <script src="/zTree/js/jquery.ztree.core.js"></script>
    <script src="/zTree/js/jquery.ztree.excheck.js"></script>

    <!-- 自定义 -->
    <script src="/ajaxUpload/ajaxfileupload.js"></script>
    <script src="/js/vaild.js"></script>
    <script src="/js/app.js"></script>
</head>
</html>